* {
    box-sizing: border-box;
    font-family: "Yuji Boku", sans-serif;
}

body {
    background-image: url(./images/bg.svg);
    background-size: 1920px;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.testTitle::before {
    content: url(./images/mathDoodle2.svg);
    position: absolute;
    right: 100px;
    top: 200px;
}

.testTitle::after {
    content: url(./images/mathDoodle1.svg);
    position: absolute;
    left: 100px;
    top: 200px;
}

#startButton {
    background-color: white;
    color: #15157e;
    border: 2px solid #15157e;
    border-radius: 11px;
    width: 100%;
    max-width: 200px;
    text-decoration: none;
    font-weight: 800;
    font-size: 21px;
    text-align: center;
    margin-top: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

